<ion-view view-title="Home">
  <ion-content class="no-padding">
    <ion-list>
    <div class="list card row-top">
      <div class="item item-divider">Today's Rates</div>
      <div class="item item-body">
        <div>
          Rates go here...
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">News</div>
      <div class="item item-body">
        <div>
          News items go here...
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
